<h3>Favorite Posts</h3>

<ul>
  <li><a href="/2013/12/android-apps.html">Android Apps</a></li>
  <li><a href="/2011/05/mac-setup.html">Mac setup</a></li>
  <li><a href="/2014/07/favorite-chrome-extensions.html">Chrome Extensions</a></li>
  <li><a href="https://github.com/arkarkark">GitHub</a></li>
  <li><a href="http://wtwf.googlecode.com/">Google Code</a></li>
  <li><a href="https://sites.google.com/a/wtwf.com/scripts/">Documentation</a></li>
  <li><a href="http://feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fwtwf.com%2Fscripts%2Fatom.xml">Subscribe to RSS in Feedly</a></li>
</ul>
